.main-nav-container {
    height: 55px;
    width: 100%;
    background: darkgreen;
}

.nav-logo-area {
    height: 100%;
}

.nav-logo-area div {
    height: 100%;
}

#nav-logo{
    height: 100%;
    width: 200px;
}