td {
    text-align: left;
    padding: 35px;
}

tr th {
    text-align: center;
    padding: 5px 35px 5px 35px;
}



thead tr th:nth-child(2){
    text-align: center;
}

thead tr th:nth-child(3), thead tr th:nth-child(4){
    cursor: pointer;   
}

tbody tr td:nth-child(2){
    text-align: left;
}

.profile-img {
    height: 25px;
    width: 25px;
    padding-right: 15%;
    float: left;
}
